@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content:center;
  padding: 10px;
  


  
}

.left-nav > ul,
.right-nav > ul {
  
}

.left-nav {

  > ul {
    > li {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  span {
    
  }
}

.right-nav  {
  > ul {
    > li {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

    